.container {
  padding: 1.25rem;
  border-radius: 0.65rem;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--bg);
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons {
  display: flex;
  gap: 1.25rem;
}
