.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 5px 0px;
  border-radius: 10px;
}

.container:hover,
.active {
  background-color: var(--bg-navbar-hover);
}
