.item {
  background: linear-gradient(to top, #3c2317, #395b64);
  padding: 1.25rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.25rem;
  position: relative;
}

.bgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.bg {
  object-fit: cover;
  opacity: 0.3;
}
.title {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.text {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.notification {
  font-weight: bold;
}

.subtitle {
  color: var(--textSoft);
  font-weight: 500;
  font-size: 0.75rem;
}

.desc {
  color: var(--text);
  font-size: 0.875rem;
  text-align: justify;
}

.button {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: var(--bg-navbar-hover);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
