.form {
  background-color: var(--bgSoft);
  padding: 3.125rem;
  border-radius: 0.625rem;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.form input {
  width: 100%;
  padding: 30px;
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
}

.form button {
  width: 100%;
  padding: 1.875rem;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--text);
  border: none;
  cursor: pointer;
}
