* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #395144;
  --bgSoft: #4e6c50;
  --text: #f0ebce;
  --textSoft: #aa8b56;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
